---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About Andrew the Coder';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h2>About Me</h2>
    <p>Hi, I'm Andrew, a software engineer and web developer with over 20 years
      of experience. I've had the opportunity to work with a diverse range of
      languages, frameworks, and platforms throughout my career. I thrive on
      the problem-solving aspects of software development and am always eager
      to tackle new challenges.</p>
    <p>Beyond coding, I hold advanced degrees in theology and linguistics,
      which have broadened my perspective and analytical skills. My major
      hobby is music, and I'm an avid guitar player.</p>

    <h2>Languages I work with:</h2>
    <ul>
      <li>JavaScript</li>
      <li>PHP</li>
      <li>Golang</li>
      <li>OCaml</li>
      <li>Rust</li>
      <li>Zig</li>
      <li>C/C++</li>
      <li>Python</li>
      <li>Ruby</li>
    </ul>

    <h2>Frameworks I'm familiar with:</h2>
    <ul>
      <li>Symfony</li>
      <li>Laravel</li>
      <li>Flask</li>
      <li>Django</li>
      <li>Rails</li>
      <li>Spring Boot</li>
      <li>Gin</li>
      <li>Leptos</li>
      <li>Rocket</li>
    </ul>
  </div>
</BaseLayout>

<style>
  h2 {
    margin-top: 2em; /* Add more space above h2s */
    margin-bottom: 0.8em;
  }

  ul {
    list-style: disc; /* Ensure list style is visible */
    padding-left: 1.5em;
  }

  li {
    margin-bottom: 0.5em;
  }
</style>
