<style>
  img {
    display: block;
    width: 60px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<h1>
  <a href="/">
    <img alt="ANDREW THE CODER" src="/assets/logo.png" width="60" height="60" alt="ANDREW THE CODER" />
  </a>
</h1>
