---
import ThemeToggleButton from './ThemeToggleButton.svelte';
const { current = '' } = Astro.props;
---

<style>
  nav {
    display: flex;
    align-items: center;
    font-family: var(--font-family-sans);
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 6em;
  }

  a {
    color: var(--text-main);
    text-decoration: none;
    padding: 0.5em 0.8em; /* Adjusted padding */
    margin-left: 1em; /* Adjusted margin */
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: var(--primary-color);
  }

  a.selected {
    color: var(--primary-color);
  }

  .theme-toggle-container {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1em 0.6em;
  }

  .menu-toggle {
    display: none;

  }

  @media screen and (max-width: 520px) {
    nav {
      flex-direction: column;
      margin-top: 0.6em;
      padding-right: 0;
    }

    nav.hidden {
      display: none;
    }

    a {
      margin: 0.5em 0;
    }

    .theme-toggle-container {
      padding: 0 0.6em;
    }

    .menu-toggle {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0.75em 0.6em;
      cursor: pointer;
    }
  }
</style>

<button class="menu-toggle" aria-label="toggle navigation" id="menu-toggle">&#9776</button>
<nav class="hidden" id="menu">
  <a class={current === "" ? "selected" : ""} href='/'>home</a>
  <a class={current === "about" ? "selected" : ""} href='/about'>about</a>
  <a class={current === "projects" ? "selected" : ""} href='/projects'>projects</a>
  <a class={current === "blog" ? "selected" : ""} href='/blog'>blog</a>
  <a class={current === "search" ? "selected" : ""} href='/search'>search</a>
</nav>
<div class="theme-toggle-container">
  <ThemeToggleButton client:load />
</div>

<script>
    function setupMenu() {
        const btn = document.getElementById("menu-toggle")
        const menu = document.getElementById("menu")

        if(btn && menu) {
            btn.onclick = () => menu.classList.toggle("hidden")
        }
    }

    setupMenu()

    document.addEventListener("astro:page-load", setupMenu)
</script>
